@{
    ViewData["Title"] = "Guides Page";
}

<div class="text-center">
	<h1>Minecraft Mods (Real-Mining)</h1>
	<p class="western" style="line-height: 108%; margin-left: -0in; margin-right: 4.78in; margin-bottom: 0.23in">
		<b>Description:</b>
	</p>
	<p class="western" style="line-height: 100%; margin-left: 0.24in; text-indent: -0.25in; margin-bottom: 0.02in">
		<b>
			This mod adds a sliding mechanic to stone blocks and to sand and gravel blocks. Also, now you have to use mortar on the cobblestones or your house will fall apart) This mod changed a few recipes to make the early game more realistic and challenging. To make your first wooden blocks, you'll need to get carpenter's glue from spruce logs and use flint tools instead of wood or stone.
			This mod will be updated soon to add more interesting realistic features.
		</b>
	</p>
</div>
